<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kosa.Catchvegan.Mapper.ManagerMapper">
    <select id="findAllManagers" resultType="ManagerDTO">
        select * from manager
    </select>

    <insert id="createManager">
        <selectKey keyProperty="manageridx" keyColumn="manageridx" order="BEFORE" resultType="Integer">
            select managerseq.nextval from dual
        </selectKey>
        insert into manageridx(managerIdx,restaurantIdx,id,password)
        values(#{manageridx},#{restaurantIdx},#{id},#{password})
    </insert>

    <insert id ="managerRole">
        insert into managerauth values(#{manageridx}, 'ROLE_MANAGER')
    </insert>

    <resultMap id="veganmanager" type="ManagerDTO">
        <id column="manageridx" property="manageridx" />
        <result column="id" property="id" />
        <result column="password" property="password" />
        <collection property="roles" resultMap="auth" />
    </resultMap>

    <resultMap type="ManagerAuthDTO" id="auth">
        <result column="manageridx" property="manageridx"/>
        <result column="auth" property="auth"/>
    </resultMap>

    <select id="managerGetUserByIdAndPassword" resultMap="veganmanager">
        select mb.id,password,auth
        from manager mg, managerauth ma
        where mg.id = ma.id(+)
          and mg.id = #{id}
    </select>

    <select id="managerGet" resultType="ManagerDTO">
        SELECT id, name FROM member WHERE id = #{id}
    </select>

    <select id="managerIdGet" resultType="ManagerDTO">
        select id from member where id=#{id}
    </select>

</mapper>