<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kosa.Catchvegan.Mapper.ManagerMapper">
    <resultMap id="reserveMap" type="ReserveDto">
        <result column="reserveIdx" property="reserveIdx"/>
        <result column="memberIdx" property="memberIdx"/>
        <result column="restaurantIdx" property="restaurantIdx"/>
        <result column="reserveDate" property="reserveDate"/>
        <result column="resCount" property="resCount"/>
        <result column="visitStatus" property="visitStatus"/>
        <result column="cancelStatus" property="cancelStatus"/>
        <association property="memberDTO" resultMap="memberMap"/>
    </resultMap>

    <resultMap id="memberMap" type="MemberDto">
        <result column="memberidx" property="memberIdx"/>
        <result column="id" property="id"/>
        <result column="password" property="password"/>
        <result column="name" property="name"/>
        <result column="phone" property="phone"/>
        <result column="email" property="email"/>
        <result column="vegantype" property="veganType"/>
        <result column="withdraw" property="withdraw"/>
    </resultMap>

    <!--  식당정보 불러오기-->
    <select id="restaurantmanage" resultType="RestaurantDto">
        select
            *
            from restaurant r
                left outer join manager m
                on r.restaurantIdx=m.restaurantIdx
                    where managerIdx=#{managerIdx}


    </select>

    <!--  식당정보 수정하기-->
    <update id="updaterestaurant" parameterType="RestaurantDto">
        update
            restaurant
                set
                    name=#{name},
                    menu=#{menu},
                    restaurantinfo=#{restaurantInfo},
                    images=#{images},
                    reservepay=#{reservePay},
                    limitperson=#{limitPerson}
                        where restaurantidx=#{restaurantIdx}

    </update>

    <!--  예약자목록 불러오기-->
    <select id="reservememberlist" resultMap="reserveMap">
        select
            m.name,
            m.phone,
            r.reserveDate,
            r.rescount,
            r.visitStatus,
            r.cancelStatus,
            r.reserveIdx,
            m.memberIdx
            from member m
                 left outer join reserve r
                 on m.memberIdx=r.memberIdx
                    where r.restaurantidx=#{restaurantIdx}
                    and TRUNC(reservedate) = TO_DATE(TO_CHAR(#{reserveDate}, 'YYYY-MM-DD'), 'YYYY-MM-DD')
    </select>

    <!-- 방문완료한 회원의 상태 변경-->
    <update id="confirmstatus">
        update
            reserve
                set
                  visitstatus=#{visitStatus}
                    where reserveidx=#{reserveIdx}
    </update>





    <select id="findAllManagers" resultType="ManagerDTO">
        select * from manager
    </select>

    <insert id="createManager">
        <selectKey keyProperty="manageridx" keyColumn="managerIdx" order="BEFORE" resultType="Integer">
            select managerseq.nextval from dual
        </selectKey>
        insert into manager(manageridx,restaurantidx,id,password)
        values(#{managerIdx},#{restaurantIdx},#{id},#{password})
    </insert>

    <insert id ="managerRole">
        insert into managerauth values(#{managerIdx}, 'ROLE_MANAGER')
    </insert>

    <resultMap id="veganmanager" type="ManagerDTO">
        <id column="manageridx" property="managerIdx" />
        <result column="restaurantidx" property="restaurantIdx" />
        <result column="id" property="id" />
        <result column="password" property="password" />
        <collection property="roles" resultMap="auth" />
    </resultMap>

    <resultMap type="ManagerAuthDTO" id="auth">
        <result column="manageridx" property="managerIdx"/>
        <result column="auth" property="auth"/>
    </resultMap>

    <select id="managerGetUserByIdAndPassword" resultMap="veganmanager">
        select mg.id,password,auth
        from manager mg, managerauth ma
        where mg.manageridx = ma.manageridx(+)
          and mg.id = #{id}
    </select>

    <select id="managerGet" resultType="ManagerDTO">
        SELECT id, name FROM manager WHERE id = #{id}
    </select>

    <select id="managerIdGet" resultType="ManagerDTO">
        select id from manager where id=#{id}
    </select>

</mapper>