<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kosa.Catchvegan.Mapper.MemberMapper">

    <select id="findAllMembers" resultType="MemberDTO">
        select * from member WHERE withdraw = 'x'
    </select>

    <select id = "oneMember" resultType="MemberDTO">
        select * from member where memberidx = #{memberIdx}
    </select>

    <insert id="createMember">
        <selectKey keyProperty="memberIdx" keyColumn="memberIdx" order="BEFORE" resultType="Integer">
            select memberseq.nextval from dual
        </selectKey>
        insert into member(memberidx,id,password,name,phone,email,vegantype)
        values(#{memberIdx},#{id},#{password},#{name},'+82'||#{phone},#{email},#{veganType})
    </insert>

    <insert id ="userRole">
        insert into memberauth values(#{memberIdx}, 'ROLE_USER')
    </insert>

    <resultMap id="veganmember" type="MemberDTO">
        <id column="memberidx" property="memberIdx" />
        <result column="id" property="id" />
        <result column="password" property="password" />
        <result column="name" property="name" />
        <result column="phone" property="phone" />
        <result column="email" property="email" />
        <result column="vegantype" property="veganType"/>
        <result column="withdraw" property="withdraw" />
        <collection property="roles" resultMap="auth" />
    </resultMap>

    <resultMap type="MemberAuthDTO" id="auth">
        <result column="memberidx" property="memberIdx"/>
        <result column="auth" property="auth"/>
    </resultMap>

    <select id="getUserByIdAndPassword" resultMap="veganmember">
        select mb.memberidx, mb.id,password,name,phone,email,vegantype,withdraw,auth
        from member mb, memberauth ma
        where mb.memberidx = ma.memberidx(+)
          and mb.id = #{id}
    </select>

    <select id="idGet" resultType="MemberDTO">
        select id from member where id=#{id}
    </select>

    <update id="passwordGet" >
        update member set password = #{password} where id = #{id}
    </update>

    <update id="memberRemove">
        update member
        set withdraw = 'o'
        where id = #{id}
    </update>

    <delete id="userDelete">
        delete from member where id = #{id}
    </delete>

    <update id="memberUpdate">
        update member
        set password = #{password},
            phone = #{phone},
            email = #{email},
            vegantype = #{veganType}
        where memberidx = #{memberIdx}
    </update>

    <select id="findByPhone" resultType="MemberDTO">
        select phone from member where phone='+82'||#{phone}
    </select>

    <select id="idFindByPhone" resultType="MemberDTO">
        select id from member where phone=#{phone}
    </select>

    <select id="pwFindById" resultType="MemberDTO">
        select phone from member where id=#{id}
    </select>

    <select id="pwFindByIdCheck" resultType="MemberDTO">
        select phone from member where id=#{id}
    </select>

    <update id="passwordUpdate">
        update member
        set password = #{password}
        where id = #{id}
    </update>




</mapper>