<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kosa.Catchvegan.Mapper.MyDiningMapper">

    <resultMap id="reserves" type="ReserveDTO">
        <result column="reserveidx" property="reserveIdx"></result>
        <result column="reservedate" property="reserveDate"></result>
        <result column="rescount" property="resCount"></result>
        <association resultMap="restaurant" property="restaurantDTO"></association>
    </resultMap>
    <resultMap id="restaurant" type="RestaurantDTO">
        <result column="name" property="name"></result>
        <result column="city" property="city"></result>
    </resultMap>

    <select id="getReserves" resultMap="reserves">
        select r.reserveidx, reservedate, rescount, name, city from reserve r, restaurant rt, payment p
        where r.restaurantidx = rt.restaurantidx
          and r.reserveidx = p.reserveidx
          and memberidx = #{memberIdx}
          and visitstatus = 'x'
          and cancelstatus = 'x'
        order by reserveDate
    </select>

        <!-- and memberidx = #{memberIdx}
        and visitstatus = 'x'
        and cancelstatus = 'x'
        and reservedate &gt; SYSTIMESTAMP
        order by reserveDate
    </select> -->

<!--    <select id="getVisitCompleted" resultMap="reserves">-->
<!--        select r.reserveidx, reservedate, rescount, name, city, v.visitdate from reserve r, restaurant rt, visit v-->
<!--        where r.restaurantidx = rt.restaurantidx-->
<!--          and v.reserveidx = r.reserveidx-->
<!--          and memberidx = #{memberIdx}-->
<!--          and visitstatus = 'o'-->
<!--          and cancelstatus = 'x'-->
<!--        order by v.visitdate desc-->
<!--    </select>-->

    <select id="getReserveCancel" resultMap="reserves">
        select reserveidx, reservedate, rescount, name, city from reserve r, restaurant rt
        where r.restaurantidx = rt.restaurantidx
          and memberidx = #{memberIdx}
          and ((visitstatus = 'x'
          and cancelstatus = 'o')
          or (visitstatus = 'x' and reservedate &lt; SYSTIMESTAMP))
        order by reserveDate
    </select>

    <resultMap id="reservesWithReview" type="ReserveDTO">
        <result column="reserveidx" property="reserveIdx"></result>
        <result column="memberidx" property="memberIdx"></result>
        <result column="reservedate" property="reserveDate"></result>
        <result column="rescount" property="resCount"></result>
        <association property="restaurantDTO" resultMap="restaurant"></association>
        <association resultMap="visit" property="visitDTO"></association>
    </resultMap>

    <resultMap id="visit" type="VisitDTO">
        <result property="reserveIdx" column="reserveidx"></result>
        <result property="visitIdx" column="visitIdx"></result>
        <result property="visitDate" column="visitdate"></result>
        <association property="reviewDTO" resultMap="review"></association>
    </resultMap>

    <resultMap id="review" type="ReviewDTO">
        <result column="reviewIdx" property="reviewIdx" ></result>
    </resultMap>

    <select id="goReviewButton" resultMap="reservesWithReview">
        SELECT res.memberidx, res.reserveidx, res.reservedate, res.rescount, rv.reviewIdx, rst.city, rst.name, v.visitdate, v.visitidx
        FROM member m
                 LEFT OUTER JOIN reserve res ON res.memberidx = m.memberidx
                 LEFT OUTER JOIN visit v ON v.reserveidx = res.reserveidx
                 LEFT OUTER JOIN review rv ON rv.visitidx = v.visitidx
                 LEFT OUTER JOIN restaurant rst ON res.restaurantidx = rst.restaurantidx
        WHERE m.memberidx = #{memberIdx}
          and res.visitstatus = 'o'
          and res.cancelstatus = 'x'
        order by v.visitdate desc
    </select>


</mapper>