<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kosa.Catchvegan.Mapper.MyDiningMapper">

    <resultMap id="reserves" type="ReserveDTO">
        <result column="reserveidx" property="reserveIdx"></result>
        <result column="reservedate" property="reserveDate"></result>
        <result column="rescount" property="resCount"></result>
        <association resultMap="restaurant" property="restaurantDTO"></association>
    </resultMap>
    <resultMap id="restaurant" type="RestaurantDTO">
        <result column="name" property="name"></result>
        <result column="city" property="city"></result>
    </resultMap>

    <select id="getReserves" resultMap="reserves">
        select r.reserveidx, reservedate, rescount, name, city from reserve r, restaurant rt, payment p
        where r.restaurantidx = rt.restaurantidx
          and r.reserveidx = p.reserveidx
          and memberidx = #{memberIdx}
          and visitstatus = 'x'
          and cancelstatus = 'x'
        order by reserveDate
    </select>


</mapper>