<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kosa.Catchvegan.Mapper.ReserveMapper">
    <resultMap id="reserveMap" type="ReserveDTO">
        <result column="reserveIdx" property="reserveIdx"/>
        <result column="memberIdx" property="memberIdx"/>
        <result column="restaurantIdx" property="restaurantIdx"/>
        <result column="reserveDate" property="reserveDate"/>
        <result column="resCount" property="resCount"/>
        <result column="visitStatus" property="visitStatus"/>
        <result column="cancelStatus" property="cancelStatus"/>
        <association property="memberDTO" resultMap="memberMap"/>
    </resultMap>

    <resultMap id="memberMap" type="MemberDTO" >
        <result column="memberidx" property="memberIdx"/>
        <result column="id" property="id"/>
        <result column="password" property="password"/>
        <result column="name" property="name"/>
        <result column="phone" property="phone"/>
        <result column="email" property="email"/>
        <result column="vegantype" property="veganType"/>
        <result column="withdraw" property="withdraw"/>
    </resultMap>

    <select id="restaurantDetail" resultType="RestaurantDTO">
        select * from restaurant where restaurantidx = #{restaurantIdx}
    </select>

    <select id="reserveDate" resultType="ReserveDTO">
        SELECT * FROM reserve
        WHERE TRUNC(reservedate) = TO_DATE(TO_CHAR(#{reserveDate}, 'YYYY-MM-DD'), 'YYYY-MM-DD')
        AND restaurantidx = #{restaurantIdx}
        AND visitstatus = 'x'
        AND cancelstatus = 'x'
    </select>

    <insert id="reserveRes">
        <selectKey resultType="java.lang.Long" keyProperty="reserveIdx" order="BEFORE">
            SELECT reserveseq.nextval FROM dual
        </selectKey>
        insert into reserve values(
                                #{reserveIdx},
                                #{memberIdx},
                                #{restaurantIdx},
                                #{reserveDate},
                                #{resCount},
                                'x',
                                'x'
        )
    </insert>

    <insert id="reservePay">
        insert into payment values(
                                   payseq.nextval,
                                   #{reserveIdx},
                                   #{payAmount},
                                   sysdate,
                                   #{payInfo},
                                   #{tid}
            )
    </insert>

    <delete id="deleteReserve">
        delete from reserve
        where reserveidx = #{reserveIdx}
    </delete>
    <delete id="deletePayment">
        delete from payment
        where reserveidx = #{reserveIdx}
    </delete>

    <select id="reserveDateAlert" resultMap="reserveMap">
        SELECT * FROM reserve , member
           where reserve.memberidx = member.memberidx
        and TRUNC(reservedate) = TO_DATE(TO_CHAR(#{reserveDate}, 'YYYY-MM-DD'), 'YYYY-MM-DD')
    </select>

    <select id="getMember" resultType="MemberDTO">
        select * from member where memberidx = #{memberidx}
    </select>

    <select id ="getPayment" resultType="PaymentDTO">
        select * from payment
        where reserveidx = #{reserveIdx}
    </select>

    <update id="cancelReserve" >
        update reserve
        set cancelstatus ='o'
        where reserveidx = #{reserveIdx}
    </update>

    <insert id="cancelRes">
        insert into cancel values(
                                cancelseq.nextval,
                                #{reserveIdx},
                                 sysdate,
                                'o'
                                 )
    </insert>

    <select id="canReserve" resultType="ReserveDTO">
        SELECT * FROM reserve r, payment p
        WHERE TRUNC(reservedate) = TO_DATE(TO_CHAR(#{reserveDate}, 'YYYY-MM-DD'), 'YYYY-MM-DD')
          AND r.reserveidx = p.reserveidx
          AND visitstatus = 'x'
          AND cancelstatus = 'x'
    </select>

    <select id="noReserve" resultType="ReserveDTO">
        SELECT r.reserveidx AS reserveIdx FROM reserve r, payment p
        where r.reserveidx = p.reserveidx(+)
          AND visitstatus = 'x'
          AND cancelstatus = 'x'
        order by reserveidx
    </select>

</mapper>