<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kosa.Catchvegan.Mapper.ReserveMapper">
    <resultMap id="reserveMap" type="ReserveDTO">
        <result column="reserveIdx" property="reserveIdx"/>
        <result column="memberIdx" property="memberIdx"/>
        <result column="restaurantIdx" property="restaurantIdx"/>
        <result column="reserveDate" property="reserveDate"/>
        <result column="resCount" property="resCount"/>
        <result column="visitStatus" property="visitStatus"/>
        <result column="cancelStatus" property="cancelStatus"/>
        <association property="memberDTO" resultMap="memberMap"/>
    </resultMap>

    <resultMap id="memberMap" type="MemberDTO" >
        <result column="memberidx" property="memberidx"/>
        <result column="id" property="id"/>
        <result column="password" property="password"/>
        <result column="name" property="name"/>
        <result column="phone" property="phone"/>
        <result column="email" property="email"/>
        <result column="vegantype" property="vegantype"/>
        <result column="withdraw" property="withdraw"/>
    </resultMap>

    <select id="restaurantDetail" resultType="RestaurantDTO">
        select * from restaurant where restaurantidx = #{restaurantIdx}
    </select>

    <select id="reserveDate" resultType="ReserveDTO">
        SELECT * FROM reserve
        WHERE TRUNC(reservedate) = TO_DATE(TO_CHAR(#{reserveDate}, 'YYYY-MM-DD'), 'YYYY-MM-DD')
        AND restaurantidx = #{restaurantIdx}
    </select>

    <select id="reserveDateAlert" resultMap="reserveMap">
        SELECT * FROM reserve , member
           where reserve.memberidx = member.memberidx
        and TRUNC(reservedate) = TO_DATE(TO_CHAR(#{reserveDate}, 'YYYY-MM-DD'), 'YYYY-MM-DD')
    </select>

</mapper>